@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;);

/** Job Post Content **/
#job-posting{
   font-family: 'Montserrat', Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: 500;
   font-size: 23px;
   color: rgba(21, 26, 65, 1);
   letter-spacing: -0.05px;
   line-height: 33px;
}

#job-posting .title{
   font-size: 50px;
   font-weight: 700;  
}

#job-posting .sub-title{
   font-size: 25px;
   text-transform: uppercase;
   font-weight: 700;
}

#job-posting .job-info{
   padding-top: 30px;
}

#job-posting .content{
}

#job-posting .content.descrip{
   padding-top: 50px;
}

